<div class="container">
  <a [routerLink]="['../']">&larr; Back to list</a>
</div>
<div class="panel">
  <div class="panel-body">
    <app-book-form [book]="book" (submitted)="router.navigate(['../'])"></app-book-form>
  </div>
</div>
