<div class="container container__list">

  <div class="columns columns__header">
    <div *ngFor="let header of header.getHeaders();let index=index"
         class="{{header.addCss}}"
         (click)="togglerAction(header)"
         [ngClass]="{
         'trigger--active':header.type==1 && header.sorter.active,
     'trigger--active--up':header.type==1 && header.sorter.direction==1,
     'trigger--active--down':header.type==1 && header.sorter.direction==-1
     }">
      <span *ngIf="header.type!=2">{{header.name}}</span>
    </div>
    <div class="col col-1">
      <button class=" btn btn-sm" (click)="addForm=true">Add book</button>
    </div>
  </div>


  <app-item *ngFor="let book of books" [book]="book"></app-item>
</div>


<div class="modal modal-lg" [ngClass]="{active:addForm}" id="modal-id">
  <div class="modal-overlay" aria-label="Close" (click)="addForm=false;"></div>
  <div class="modal-container">
    <div class="modal-header">
      <div class="btn btn-clear float-right" aria-label="Close" (click)="addForm=false;"></div>
      <div class="modal-title h5">Add new book</div>
    </div>
    <div class="modal-body">
      <div class="content">

        <app-book-form (submitted)="addForm=false;"></app-book-form>
      </div>
    </div>
  </div>
</div>
