<form class="form-horizontal" [formGroup]="addBookForm" (submit)="submitForm()">
  <div class="form-group">
    <div class="col-3 col-sm-12">
      <label class="form-label" for="input-name">Name</label>
    </div>
    <div class="col-9 col-sm-12">
      <input class="form-input" formControlName="name" [maxlength]="30" id="input-name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-sm-12">
      <label class="form-label" for="input-isbn">ISBN (10 or 13)</label>
    </div>
    <div class="col-9 col-sm-12">
      <input class="form-input" formControlName="isbn" id="input-isbn" placeholder="ISBN 000-0-000-00000-0">
    </div>
  </div>
  <div class="form-group" formArrayName="authors">
    <div class="col-3 col-sm-12">Authors</div>
    <div class="col-9 col-sm-12">
      <div class="columns form-group" *ngFor="let author of authorsFormGroup.controls; let i = index"
           [formGroupName]="i">

        <div class="column col-5"><input formControlName="firstName" placeholder="First Name" class="form-input" maxlength="20"></div>
        <div class="column col-5"><input formControlName="lastName" placeholder="last Name" class="form-input" maxlength="20"></div>
        <div class="column col-2" *ngIf="i!=0">
          <button type="button" class="btn btn-block" (click)="removeAuthor(i)">Remove</button>
        </div>
        <div class="column col-2" *ngIf="i==0">
          <button class="btn btn-block btn-primary" type="button" (click)="addAuthor()">Add more</button>
        </div>

      </div>

    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-sm-12">
      <label class="form-label" for="input-isbn">Year</label>
    </div>
    <div class="col-9 col-sm-12">
      <select formControlName="year" class="form-select">
        <option [value]="null"> &ndash;</option>
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-sm-12">
    </div>
    <div class="col-9 col-sm-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

