<div class="columns">
  <div class="column col-3"><a [routerLink]="[book.id]">{{book.name}}</a></div>
  <div class="column col-3"><div *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}} </div></div>
  <div class="column col-3">{{book.isbn}}</div>
  <div class="column col-2">{{book.year}}</div>
  <div class="column col-1">
    <button type="button" class="btn btn-error btn-sm" (click)="deleteBook()">Delete</button>
  </div>
</div>

