/* You can add global styles to this file, and also import other style files */
@import "../node_modules/spectre.css/src/spectre";

.container {
  &__list {
    .columns {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid lightgray;

      &__header {
        border-bottom: 2px solid lightgray;

        .column {
          font-weight: bold;
        }
      }
      &:not(.columns__header) {
        &:hover {
          background-color: aliceblue;
        }
      }
    }
  }
}

form {

  input {
    &.ng-touched {
      &.ng-invalid {
        border: 1px solid red;
      }
    }
  }

}

.trigger--active {
    &.trigger--active--up {
      &:after {
        content: '↑';
      }
    }
    &.trigger--active--down {
      &:after {
        content: '↓';
      }
    }
}
